Cython
setuptools
PyAudio==0.2.14
numpy==1.26.4
librosa==0.10.2
faster-whisper==1.0.2
noisereduce==3.0.2
thefuzz==0.22.1
paho-mqtt==2.1.0
async_tkinter_loop==0.9.3
JPype1==1.5.0
python-dotenv==1.0.1
customtkinter==5.2.2
grpcio==1.64.0
opencv-python==4.9.0.80
pyobjc-framework-AVFoundation==10.2
PyPDF2==3.0.1
webrtcvad==2.0.10